-- MySQL dump 10.13  Distrib 8.0.23, for Win64 (x86_64)
--
-- Host: localhost    Database: normativas
-- ------------------------------------------------------
-- Server version	8.0.23

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `conducao_cabos`
--

DROP TABLE IF EXISTS `conducao_cabos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `conducao_cabos` (
  `material` text,
  `sessao_nominal` double DEFAULT NULL,
  `instalacao` text,
  `condutores_carregados` int DEFAULT NULL,
  `corrente_nominal` double DEFAULT NULL,
  `isolacao` varchar(10) DEFAULT 'PVC'
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conducao_cabos`
--

LOCK TABLES `conducao_cabos` WRITE;
/*!40000 ALTER TABLE `conducao_cabos` DISABLE KEYS */;
/*!40000 ALTER TABLE `conducao_cabos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exemplos_cabos`
--

DROP TABLE IF EXISTS `exemplos_cabos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `exemplos_cabos` (
  `cabos_carregados` int NOT NULL,
  `secao_nominal` decimal(5,2) NOT NULL,
  `diametro_nominal_condutor` decimal(5,2) DEFAULT NULL,
  `diametro_nominal_externo` decimal(5,2) DEFAULT NULL,
  PRIMARY KEY (`cabos_carregados`,`secao_nominal`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exemplos_cabos`
--

LOCK TABLES `exemplos_cabos` WRITE;
/*!40000 ALTER TABLE `exemplos_cabos` DISABLE KEYS */;
/*!40000 ALTER TABLE `exemplos_cabos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exemplos_disjuntores`
--

DROP TABLE IF EXISTS `exemplos_disjuntores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `exemplos_disjuntores` (
  `corrente_nominal` int NOT NULL,
  `condutores_carregados` int NOT NULL,
  `nome_disjuntor` varchar(12) DEFAULT NULL,
  PRIMARY KEY (`corrente_nominal`,`condutores_carregados`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exemplos_disjuntores`
--

LOCK TABLES `exemplos_disjuntores` WRITE;
/*!40000 ALTER TABLE `exemplos_disjuntores` DISABLE KEYS */;
/*!40000 ALTER TABLE `exemplos_disjuntores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exemplos_eletrodutos`
--

DROP TABLE IF EXISTS `exemplos_eletrodutos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `exemplos_eletrodutos` (
  `diametro_nominal_polegadas` varchar(10) DEFAULT NULL,
  `diametro_nominal_milimetros` int NOT NULL,
  `diametro_externo` decimal(5,2) DEFAULT NULL,
  `diametro_interno` decimal(5,2) DEFAULT NULL,
  PRIMARY KEY (`diametro_nominal_milimetros`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exemplos_eletrodutos`
--

LOCK TABLES `exemplos_eletrodutos` WRITE;
/*!40000 ALTER TABLE `exemplos_eletrodutos` DISABLE KEYS */;
INSERT INTO `exemplos_eletrodutos` VALUES ('1.1/4\"',30,41.30,31.50),('1.1/2\"',40,56.00,43.00),('2\"',50,63.40,50.80),('3\"',75,89.50,75.00),('4\"',100,124.50,103.00),('5\"',125,155.00,128.00),('6\"',150,190.00,155.00),('7\"',175,202.00,176.00),('8\"',200,250.00,205.00);
/*!40000 ALTER TABLE `exemplos_eletrodutos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fator_temperatura`
--

DROP TABLE IF EXISTS `fator_temperatura`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fator_temperatura` (
  `temperatura` int NOT NULL,
  `isolacao` varchar(3) NOT NULL,
  `fator_correcao` double DEFAULT NULL,
  PRIMARY KEY (`temperatura`,`isolacao`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fator_temperatura`
--

LOCK TABLES `fator_temperatura` WRITE;
/*!40000 ALTER TABLE `fator_temperatura` DISABLE KEYS */;
INSERT INTO `fator_temperatura` VALUES (10,'EPR',1.15),(10,'PVC',1.22),(15,'EPR',1.12),(15,'PVC',1.17),(20,'EPR',1.08),(20,'PVC',1.12),(25,'EPR',1.04),(25,'PVC',1.06),(30,'EPR',1),(30,'PVC',1),(35,'EPR',0.96),(35,'PVC',0.94),(40,'EPR',0.91),(40,'PVC',0.87),(45,'EPR',0.87),(45,'PVC',0.79),(50,'EPR',0.82),(50,'PVC',0.71),(55,'EPR',0.76),(55,'PVC',0.61),(60,'EPR',0.71),(60,'PVC',0.5),(65,'EPR',0.65),(70,'EPR',0.58),(75,'EPR',0.5),(80,'EPR',0.41);
/*!40000 ALTER TABLE `fator_temperatura` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2023-09-21 12:56:17
